@charset "UTF-8";
/* CSS DOC */

body {
    font-family: "Cal Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #333;
}

.hidden {
    display: none;
}

.container {
    width: 900px;
    margin: 0 auto;
}

h3 {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    font-size: 38px;
    line-height: 45px; 
    letter-spacing: -1px;
    margin-bottom: 20px;
    font-weight: 900;
}

p {
    line-height: 28px;
    margin-bottom: 20px;
}

p::first-letter {
    color: white;
    background-color: black;
    border-radius: 5px;
    box-shadow: 3px 3px 0 rgb(116, 116, 116);
    font-size: 30px;
    padding: 14px 6px;
    margin-right: 8px;
    float: left;
}

#gatorade {
    color: blue;
}

#powerade {
    color: red;
}

#biosteel {
    color: green;
}

footer {
    background-color: rgb(205, 205, 205);
    padding: 20px;
    text-align: center;
}